body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: floralwhite;
}

main {
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    max-width: 70ch;
    overflow: hidden;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
    position: relative;
}
h2::before {
    content: "# ";
}

h3 {
    font-size: 1.5em;
    position: relative;
}
h3::before {
    content: "* ";
}

li, p {
    line-height: 1.6;
    font-size: 1.1em;
}

blockquote {
    margin: 0;
    padding: 0 1.5em;
    background: white;
    border: solid 1px gray;
    border-radius: .3em;
}

:not(code) {
    font-family: sans-serif;
    text-wrap: pretty;
}

code {
    background-color: lightgray;
    padding: 0 .3em;
    display: inline-block;
}

pre, code {
    border-radius: .3em;
}

pre>code {
    padding: 1em;
    background-color: transparent;
}

img {
    border-radius: .3em;
}